CONFIG_PACKAGE_kmod-mt-wifi-mt7981-ko
CONFIG_PACKAGE_iptables-mod-iprange
CONFIG_PACKAGE_iptables-mod-tproxy
CONFIG_PACKAGE_kmod-sched
CONFIG_PACKAGE_kmod-wireguard
CONFIG_PACKAGE_kmod-ipt-extra
CONFIG_PACKAGE_kmod-ipt-ipopt
luci-app-diskman
CONFIG_PACKAGE_kmod-fs-btrfs
luci-app-cifs-mount
CONFIG_PACKAGE_kmod-fs-cifs
CONFIG_PACKAGE_kmod-fuse
